@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: transparent;
  --foreground: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c0713;
    --foreground: #d03a3a;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}
